p
{
    Font-family : fantasy;
    Font-style : italic;
    Font-variant : normal;
    Font-weight : bold;
    Font-size : medium;
    Font : Verdana;
    Color : rgb(0, 102, 102);
    Background-color : gray;
}
